*
{
    box-sizing: border-box;

}
body
{
    padding: 0%;
    margin: 0%;
    background-color: black;
}
.main-container
{
    width: 456px;
    height: 100vh;
    background-color:rgb(240, 240, 235);
    margin-right:auto ;
    margin-left:auto ;
    border-radius: 15px;
}
.head
{
    height:199px;
    width: 456px;
    background-image: url(https://png.pngtree.com/illustrations/20190321/ourlarge/pngtree-office-office-late-at-night-overtime-png-image_26462.jpg);
    background-repeat: none;
    background-size:cover;
    border-radius: 15px;
    color: white;
    text-align: center;
    
}
input
{
    background-color: transparent;
    border: none;
    width: 375px;
    height: 25px;
    outline-style: none;
    padding: 25px;
    color: green;

    font-size:25px;
    
}
button
{
    background-color: transparent;
    border: none;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(4, 155, 29);
    outline-style: none;
    display: inline;

}
.line
{
    width: 410px;
    border-top:2px solid black ;
    margin-left:auto ;
    margin-right: auto;
}
.input-container
{
    height: 45px;
    width: 456px;
    text-align: center;
    

}

.del
{
    background-color:red;
    margin-left: auto;
    float: right;
    
}
.edit
{
 background-color: blue;
 float: right;
 height: 25px;
}
.check
{
    display:inline-block;
    margin-left:1px;
    width: 20px;
    

}
.output-container
{
    text-justify:left;
    margin-top: 25px;
    height: auto;
}
.li
{
display:  inline-block;
width: 100%;
margin-left:0%;
font-size: 35px;
float:left;
color:brown;
}